{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
launchctl unload ~/Library/LaunchAgents/com.chezmoi.re-add.plist 2>/dev/null || true
launchctl load ~/Library/LaunchAgents/com.chezmoi.re-add.plist
{{ end -}}
