{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/com.chezmoi.re-add.plist 2>/dev/null || true
launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/com.chezmoi.re-add.plist
{{ end -}}
