{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . }}
{{ end -}}

if [ "$SHELL" != "$(which zsh)" ]; then
    sudo chsh -s $(which zsh)
fi

if ! command -v fnm &> /dev/null; then
	curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell
fi
{{ end -}}
