{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . }}
{{ end -}}

if [ "$SHELL" != "$(which zsh)" ]; then
    sudo chsh -s $(which zsh) "$USER"
fi

if ! command -v mise &> /dev/null; then
	curl https://mise.run | sh
fi
{{ end -}}
