# Initialize completions
autoload -Uz compinit; compinit

fpath+=($HOME/.pure)

# Initialize prompt
autoload -U promptinit; promptinit

# Use the "Pure" prompt
prompt pure

# Change the symbol used in the "Pure" prompt
PURE_PROMPT_SYMBOL="◭"

# Modifications to PATH
path+=(
  "$HOME/.local/bin"
  "$HOME/.fzf/bin"
)

# Aliases
alias bat="batcat"
alias cat="bat --paging=never"

# fzf
if fzf --zsh &> /dev/null; then
  source <(fzf --zsh)
elif [ -f /usr/share/doc/fzf/examples/key-bindings.zsh ]; then
  source /usr/share/doc/fzf/examples/key-bindings.zsh
  source /usr/share/doc/fzf/examples/completion.zsh
fi
FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"

# mise
eval "$(mise activate zsh)"

source "$HOME/.zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
