# Initialize completions
autoload -Uz compinit; compinit

# Initialize prompt
autoload -U promptinit; promptinit

# Use the "Pure" prompt
prompt pure

{{ if eq .chezmoi.os "darwin" -}}
# Initialize zsh plugins (macOS/Homebrew)
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Disable Homebrew hints
export HOMEBREW_NO_ENV_HINTS=1
{{ end -}}

# Change the symbol used in the "Pure" prompt
PURE_PROMPT_SYMBOL="◭"

# Modifications to PATH, MANPATH, etc.
path+=(
  "$HOME/.npm-packages/bin"
{{ if eq .chezmoi.os "darwin" -}}
  "$HOME/Library/pnpm"
{{ end -}}
  "$HOME/.pyenv/bin"
  "$HOME/.poetry/bin"
{{ if eq .chezmoi.os "darwin" -}}
  "/opt/homebrew/opt/postgresql@17/bin"
{{ end -}}
  "$ANDROID_HOME/emulator"
  "$ANDROID_HOME/platform-tools"
)
manpath+="$HOME/.npm-packages/share/man"

# Pyenv
eval "$(pyenv init -)"

# Aliases
alias cat='bat --paging=never'

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"

# pnpm
source ~/completion-for-pnpm.sh # autocomplete
{{ if eq .chezmoi.os "darwin" -}}
export PNPM_HOME="$HOME/Library/pnpm"
export PATH="$PNPM_HOME:$PATH"
{{ end -}}

# fnm
eval "$(fnm env --use-on-cd)"

{{ if eq .chezmoi.os "darwin" -}}
# Azul Zulu (OpenJDK) - macOS
export JAVA_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home

# Android Studio - macOS
export ANDROID_HOME=$HOME/Library/Android/sdk
{{ end -}}